  <h3>New Order</h3>
  <div mat-dialog-content > 
    <mat-form-field>
      <mat-label>Please enter your name</mat-label>
      <input matInput [(ngModel)]="data.userName">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Quantity</mat-label>
      <input matInput [(ngModel)]="data.quantity" (focus)="clear($event)">
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Canecl</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Submit</button>
  </div>
